@use '../base/variables';

.ship {
	background: goldenrod;
	border-radius: 50%;
	height: 5%;
	left: 5%;
	position: absolute;
	z-index: 1;
	width: 5%;

	&::before,
	&::after {
		content: '';
	}

	&::after {
		aspect-ratio: 1;
		background: goldenrod;
		border-radius: 4px 4px 0 0;
		left: 30%;
		position: absolute;
		top: -30%;
		width: 40%;
		z-index: -1;
	}

	&::before {
		aspect-ratio: 1;
		background: #000;
		border-radius: 50%;
		position: absolute;
		height: 50%;
		left: 35%;
		top: 25%;
	}
}
